<!DOCTYPE html>
<html>
 <head>
  <title>Doctor's Office</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>
  <div class="container">

    #parse( $template )

    <a href="/">Home Page</a>
  </div>
 </body>
</html>
